@media(max-width:375px){
    body{
        font-size: 12px;
    }
    .cabecalho{
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-items: center;        
    }
    .navbar{
        margin: 2vh 0;
    }
    .navbar nav ul { 
        flex-direction: column;
        gap: 8px;
    }
    .navbar nav ul li{
        text-align: center;
    }
    .navbar nav ul li a{
        width: 200px;
    }
    .textos h2{
        text-align: center;
        font-size: 2em;
    }
    .cards{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .card h3{
        font-size: 2em;
    }
    .card img{
        height: 30vh;
        width: 60vw;
        border-radius: 30px;
    }
    .card p{
        width: 100%;
        text-align: center;
    }
    .grupo nav ul{
        flex-direction: column;
    }
    .grupo nav ul li{
        width: 200px;
        padding: 2% 0;
    }
    .form-holder{
        width: 90vw;
    }
    .input-form{
        width: 40vw;
    }
}